body {
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

.navbar-cntr {
  padding: 3px; }

.login {
  width: 100%;
  text-align: right;
  font-size: 16px;
  color: #979595;
  text-decoration: none; }
  .login:hover {
    color: #979595;
    text-decoration: none; }

@media (max-width: 991px) {
  .login {
    width: auto;
    padding-right: 15px; } }

.header-grid {
  margin: 50px 0; }
  .header-grid h1 {
    font-family: 'Palanquin',sans-serif;
    font-weight: 100 !important;
    line-height: 1.1;
    color: #000;
    font-size: 50px;
    text-align: center; }
  .header-grid p {
    font-size: 14px;
    color: #000;
    line-height: 22px;
    font-family: Droid Sans, Open Sans, Arial, Verdana;
    text-align: center;
    margin: 0;
    margin-top: 20px; }

.view-cntr .view-list-bx {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 55px;
  align-items: baseline; }

.view-cntr h5 {
  font-size: 16px; }

.view-cntr ul {
  list-style: none;
  display: inline-block;
  width: 85%;
  text-align: center;
  padding-left: 0; }
  .view-cntr ul li {
    text-align: center;
    padding: 0 10px 20px 5px;
    display: inline-block;
    position: relative; }
    .view-cntr ul li:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-color: #ccc;
      height: 50%;
      width: 1px; }
    .view-cntr ul li:last-child:after {
      content: none; }
    .view-cntr ul li a {
      font-size: 16px;
      text-decoration: none; }
      .view-cntr ul li a:hover {
        color: #2a6496; }
      .view-cntr ul li a:focus {
        color: #2a6496; }

@media (min-width: 1200px) {
  .sec-search .row {
    margin-left: -26px;
    margin-right: -26px; } }

@media (max-width: 767px) {
  .view-cntr .view-list-bx {
    display: block; }
  .view-cntr ul {
    width: auto; } }

.footer p {
  font-size: 12px;
  margin: 0;
  margin-top: 65px;
  margin-bottom: 3px;
  text-align: center; }

.secondary-footer {
  padding: 15px 0px; }
  .secondary-footer p {
    font-size: 11px;
    margin: 0;
    margin-bottom: 3px;
    text-align: center; }

.sec-search {
  padding: 62px 0 0; }

.search {
  width: 100%;
  border: 1px solid #e2e1e1;
  background-color: #fff;
  height: 60px;
  padding: 0 70px 0px 20px;
  border-radius: 5px;
  border-top-left-radius: 0;
  font-size: 14px; }

.search-cntr {
  position: relative; }
  .search-cntr .nav-tabs {
    border-bottom: 0; }
  .search-cntr .nav-link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px 5px 0 0;
    padding: 10px 27px;
    margin-right: 2px;
    outline: none;
    background-color: #cbc9c9;
    color: #444; }
  .search-cntr .active {
    color: #428bca !important; }

.search-inputcntr {
  position: relative; }

.search-ic {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 35px;
  color: #ff382e; }

.feedback {
  background-color: #0679c9;
  font-size: 18px;
  border-radius: 5px 5px 0 0;
  padding: 12px 25px;
  position: fixed;
  right: -40px;
  text-decoration: none;
  transform: rotate(-90deg);
  bottom: 35%;
  opacity: 1; }
  .feedback a {
    color: #fff;
    text-decoration: none; }

.header-grid {
  margin: 50px 0; }
  .header-grid h1 {
    font-family: 'Palanquin',sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: #000;
    font-size: 50px;
    text-align: center; }
  .header-grid p {
    font-size: 14px;
    color: #000;
    line-height: 22px;
    font-family: Droid Sans, Open Sans, Arial, Verdana;
    text-align: center;
    margin: 0;
    margin-top: 20px; }

.secondary-header .navbar {
  border-bottom: solid 0px #cccccc;
  background-color: #ededf1;
  box-shadow: 0 1px 0 #fff inset, 0 1px 5px rgba(0, 0, 0, 0.1); }

.secondary-header .nav-headerrw {
  width: 100%;
  align-items: center; }

.secondary-header .search-bx {
  display: flex;
  align-items: center;
  justify-content: center; }
  .secondary-header .search-bx select {
    height: 38px;
    padding: 6px 10px 6px 5px;
    font-size: 14px;
    line-height: 32px;
    color: #555;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #ccc; }
  .secondary-header .search-bx input {
    height: 38px;
    border: 1px solid #ccc;
    width: 70%;
    padding: 10px;
    font-size: 14px;
    line-height: 32px; }
  .secondary-header .search-bx button {
    color: #fff;
    background-color: #0062b3;
    height: 38px;
    border: 0px solid #0062b3;
    width: 12%;
    font-size: 20px;
    line-height: 32px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.secondary-header .login-grid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0; }
  .secondary-header .login-grid .login {
    width: auto;
    padding-left: 10px;
    color: #000;
    padding-top: 3px; }

.secondary-header .value-grid {
  -ms-flex: 0 0 11.666667%;
  flex: 0 0 11.666667%;
  max-width: 11.666667%; }
  .secondary-header .value-grid ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 20px; }
    .secondary-header .value-grid ul li {
      font-size: 14px;
      line-height: 26px;
      color: #000; }

.secondary-header .values-list li {
  color: #dc0800 !important;
  display: flex;
  align-items: flex-start; }
  .secondary-header .values-list li .fa {
    font-size: 24px;
    padding-right: 5px; }

@media (max-width: 767px) {
  .secondary-header .value-grid {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .secondary-header .mbile-rw {
    width: 100%; }
  .secondary-header .search-bx input {
    width: 80%; }
  .secondary-header .search-bx button {
    width: 20%; } }

.sec-table {
  padding-top: 65px; }
  .sec-table h2 {
    font-size: 28px;
    color: #000;
    padding-bottom: 20px; }
    .sec-table h2 span {
      font-size: 20px;
      color: #777; }
  .sec-table .table-cntr {
    background: #fff;
    padding: 50px 15px; }
  .sec-table thead th {
    text-align: center;
    border: 0;
    color: #0062b3; }
  .sec-table th {
    font-weight: 400; }
  .sec-table td, .sec-table th {
    font-size: 14px; }
  .sec-table .bold-header td, .sec-table .bold-header th {
    color: #000;
    font-weight: 600; }
  .sec-table .normal-header td, .sec-table .normal-header th {
    color: #000;
    font-weight: 400; }
  .sec-table .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9; }
  .sec-table .fa {
    font-size: 18px;
    color: #0062b3; }
  .sec-table .accordion-toggle {
    cursor: pointer; }
  .sec-table .accordion-toggle .fa-angle-down {
    transform: rotate(0); }
  .sec-table .accordion-toggle.collapsed .fa-angle-down {
    transform: rotate(180deg); }

.sec-newsupdate {
  background-color: #fff;
  padding: 25px 15px; }
  .sec-newsupdate h2 {
    font-size: 22px; }
  .sec-newsupdate h3, .sec-newsupdate p {
    font-size: 14px;
    color: #000;
    line-height: 18px;
    margin: 1px; }
  .sec-newsupdate a {
    font-size: 14px; }
  .sec-newsupdate .slick-slider {
    width: 95%;
    margin: 0 auto; }
  .sec-newsupdate .slick-prev:before {
    content: none; }
  .sec-newsupdate .slick-next:before {
    content: none; }

.news-modal h3 {
  font-size: 18px;
  color: #000;
  line-height: 22px;
  margin: 1px; }

.news-modal h6 {
  font-size: 13px;
  color: #a09f9f;
  line-height: 18px;
  margin: 1px; }

.news-modal p {
  font-size: 14px;
  color: #444;
  line-height: 18px;
  margin: 1px; }

@media (min-width: 576px) {
  .news-modal .modal-dialog {
    max-width: 678px;
    margin: 1.75rem auto; } }

@media (max-width: 767px) {
  .sec-newsupdate .slick-slider {
    width: 85%;
    margin: 0 auto; } }

.investor-cntr {
  background-color: #fff;
  padding: 25px 15px; }
  .investor-cntr h2 {
    font-size: 22px; }
  .investor-cntr h3 {
    font-size: 16px;
    color: #333;
    line-height: 22px;
    text-transform: uppercase; }
  .investor-cntr .investors-grid {
    padding: 10px 15px; }

.annual-cntr {
  background-color: #fff;
  padding: 25px 15px 30px; }
  .annual-cntr h2 {
    font-size: 22px; }
  .annual-cntr ul {
    list-style-type: none;
    padding: 0;
    display: flex; }
    .annual-cntr ul li {
      padding: 15px 30px;
      padding-top: 8px;
      position: relative; }
      .annual-cntr ul li:after {
        content: '';
        position: absolute;
        top: 30%;
        right: 0;
        background-color: #ccc;
        height: 40%;
        width: 1px; }
      .annual-cntr ul li:last-child:after {
        content: none; }
  .annual-cntr .annual-reportgrid {
    display: flex;
    align-items: center; }

@media (max-width: 767px) {
  .annual-cntr ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px; }
    .annual-cntr ul li {
      padding: 15px 24px; }
  .annual-cntr .annual-reportgrid {
    display: block; } }

.summary-pattern-cntr {
  background-color: #fff;
  padding: 25px 15px; }
  .summary-pattern-cntr .grid .grid-inrcntr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0; }
    .summary-pattern-cntr .grid .grid-inrcntr h4 {
      font-size: 14px;
      font-weight: 400; }

@media (min-width: 1200px) {
  .otrrht-grid {
    padding-left: 70px; }
  .otrlft-grid {
    padding-right: 70px; } }

.ratestar-header-cntr {
  background-color: #fff;
  padding: 25px 15px; }
  .ratestar-header-cntr h1 {
    font-size: 30px;
    line-height: 26px;
    color: #000;
    font-weight: 400;
    padding-bottom: 5px; }
  .ratestar-header-cntr h6 {
    line-height: 26px;
    color: #9b9a9a;
    font-size: 14px;
    font-weight: 400; }
  .ratestar-header-cntr h5 {
    font-size: 14px;
    line-height: 26px;
    color: #000;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 85%; }
    .ratestar-header-cntr h5 .fa {
      font-size: 14px;
      color: #444;
      padding-left: 10px; }
  .ratestar-header-cntr h3 {
    color: #9b9a9a;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0; }
  .ratestar-header-cntr h4 {
    color: #0062b3;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: flex-start; }
  .ratestar-header-cntr .ratecode-grd {
    display: flex;
    justify-content: space-between; }
    .ratestar-header-cntr .ratecode-grd .icon-plus {
      padding-right: 5px; }
  .ratestar-header-cntr .values-list {
    padding: 0; }
    .ratestar-header-cntr .values-list li {
      color: #dc0800 !important;
      display: flex;
      align-items: flex-start; }
      .ratestar-header-cntr .values-list li .fa {
        font-size: 24px;
        padding-right: 5px; }
  .ratestar-header-cntr .grid-nse-bse h3 {
    font-size: 2.0em;
    color: #223e6e; }
  .ratestar-header-cntr .grid-inrcntr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0; }
    .ratestar-header-cntr .grid-inrcntr h4 {
      font-weight: 400;
      font-size: 14px;
      color: #444343; }
  .ratestar-header-cntr .grid-otr {
    border-right: 1px solid #ccc; }
    .ratestar-header-cntr .grid-otr:last-child {
      border-right: none; }
  .ratestar-header-cntr .tab-btn {
    background-color: #e7e8e9;
    padding: 8px 15px;
    color: #444444;
    font-size: 14px;
    text-decoration: none; }
  .ratestar-header-cntr .bse {
    border-radius: 0 4px 4px 0;
    margin-left: 2px; }
  .ratestar-header-cntr .nse {
    border-radius: 4px 0 0 4px; }
  .ratestar-header-cntr .star-ratings {
    background: url(../assets/img/star-rating-sprite.png) repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
    float: left; }
  .ratestar-header-cntr .rating {
    background: url(../assets/img/star-rating-sprite.png) repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block; }
  .ratestar-header-cntr .active {
    background-color: #444444;
    color: #fff; }

@media (min-width: 1200px) {
  .ratestar-header-cntr .grid-otr:not(:first-child) {
    padding: 0px 30px; } }

.graph-cntr {
  background-color: #fff;
  padding: 25px 15px; }
  .graph-cntr h3 {
    font-weight: 500;
    font-size: 15px;
    color: #000; }
  .graph-cntr h2 {
    font-size: 22px; }
  .graph-cntr .grid-inrcntr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0; }
    .graph-cntr .grid-inrcntr h4 {
      font-weight: 400;
      font-size: 14px;
      color: #444343; }
  .graph-cntr .grid-otr {
    border-right: 1px solid #ccc;
    padding: 0px 30px; }
    .graph-cntr .grid-otr:last-child {
      border-right: none; }
  .graph-cntr .active {
    color: #007bff !important;
    border: none; }
  .graph-cntr .nav-link {
    color: #777;
    font-size: 20px;
    border: none; }
    .graph-cntr .nav-link:hover {
      border: none; }
  .graph-cntr .nav-tabs {
    border: none; }
  .graph-cntr .chart-listcntr {
    display: flex;
    align-items: center; }
    .graph-cntr .chart-listcntr h2 {
      margin: 0;
      padding: 0; }
  .graph-cntr .chartgraph {
    width: 100%;
    height: 500px; }

@media (max-width: 767px) {
  .graph-cntr .chart-listcntr {
    display: block; }
  .graph-cntr .grid-otr {
    padding: 0 15px; }
  .graph-cntr .nav-link {
    font-size: 16px; } }

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
.form-control:focus {
  outline: none;
  box-shadow: none; }

.bg-dark {
  background-color: #000 !important; }

.bg-grey {
  background-color: #ededf1 !important; }

h2 {
  font-size: 22px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1246px; } }

@media (max-width: 767px) {
  .sm-pt15 {
    padding-top: 15px; } }
