.footer {
	p {
		font-size: 12px;
		margin: 0;
		margin-top: 65px;
		margin-bottom: 3px;
		text-align: center;
	}	
}

.secondary-footer {
	padding: 15px 0px;
	p {
		font-size: 11px;
		margin: 0;
		margin-bottom: 3px;
		text-align: center;
	}	
}