.header-grid {
	margin: 50px 0;
	h1 {
		font-family: 'Palanquin',sans-serif;
		font-weight: 300;
		line-height: 1.1;
		color: $color-1;
		font-size: 50px;
		text-align: center;
	}

	p {
		font-size: 14px;
		color: $color-1;
		line-height: 22px;
		font-family: Droid Sans, Open Sans, Arial, Verdana;
		text-align: center;
		margin: 0;
		margin-top: 20px;
	}
}


.secondary-header {
	.navbar{
		border-bottom: solid 0px #cccccc;
		background-color: #ededf1;
		box-shadow: 0 1px 0 #fff inset, 0 1px 5px rgba(0, 0, 0, 0.1);
	}

	.nav-headerrw {
		width: 100%;
		align-items: center;
	}

	.search-bx {
			display: flex;
			align-items: center;
			justify-content: center;
		select {
			height: 38px;
			padding: 6px 10px 6px 5px;
			font-size: 14px;
			line-height: 32px;
			color: #555;
			background-color: #fff;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			border: 1px solid #ccc;
		}

		input {
			height: 38px;
			border: 1px solid #ccc;
			width: 70%;
			padding: 10px;
			font-size: 14px;
			line-height: 32px;
		}

		button {
			color: #fff;
			background-color: #0062b3;
			height: 38px;
			border: 0px solid #0062b3;
			width: 12%;
			font-size: 20px;
			line-height: 32px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}

	.login-grid {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 0;
		.login {
			width: auto;
			padding-left: 10px;
			color: $color-1;
			padding-top: 3px;
		}
	}

	.value-grid {
		-ms-flex: 0 0 11.666667%;
		flex: 0 0 11.666667%;
		max-width: 11.666667%;
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			padding-left: 20px;
			li {
				font-size: 14px;
				line-height: 26px;
				color: $color-1;
			}
		}
	}

	.values-list {
		li {
			color: #dc0800 !important;
			display: flex;
			align-items: flex-start;
			.fa {
				font-size: 24px;
				padding-right: 5px;
			}
		}
	}
}


@media(max-width: 767px) {
	.secondary-header {
		.value-grid {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}

		.mbile-rw {
			width: 100%;
		}

		.search-bx {
			input {
				width: 80%;
			}

			button {
				width: 20%;
			}
		}
	}


}